@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer components {
  .btn-purple {
    @apply my-4 px-4 py-1 border rounded-full border-purple-500 text-sm text-purple-700 space-y-2 hover:bg-purple-300;
  }
  .btn-green {
    @apply my-4 px-4 py-1 border rounded-full border-green-500 text-sm text-green-700 space-y-2 hover:bg-green-300;
  }
  .h-img {
    height: 34rem;
  }
  .pad-text {
    padding-top: 13rem;
  }
  .inset-text {
    width: 469px;
    top: 50%;
    right: 13%;
  }
}
